.loading-message,
.error-message {
  border: 1px solid $border-grey;
  border-radius: 4px;
  height: 5em;
  width: 34em;
  text-align: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    margin-left: 2em;
  }
}

.loading-message {
  background-color: $grey;
}

.error-message {
  background-color: $red;
}
