.tenant-info {
  margin-right: 10px;
  width: 100%;
  text-align: center;
  width: 100%;

  td {
    width: 14.28%;
    font-size:12px;
    padding: 8px;
  }

  th {
    width: 14.28%;
    border-bottom: 1px solid $border-grey;
    text-align: center;
    font-size:12px;
    padding: 8px;
  }

  .totals {
    background-color: $total-color;
    border-bottom: 1px solid;
  }
}


