// colors
$green: #00FF00;
$blue: #0000FF;
$red: #FF0000;
$black: #000000;
$grey: #f8f8f8;

$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$dark-green: #009900;
$green-fade: rgba(0,255,0,0.3);
$blue-fade: rgba(0,0,255,0.3);

$normal-button-color: #009900;
$hover-button-color: #30CD30;
$active-button-color: #00FF00;
$border-grey: #e7e7e7;
$total-color: #DFDADA;

// sizes
$small-screen: 20em;
$medium-screen: 40em;
$large-screen: 75em;
$huge-screen: 100em;
