$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "variables.scss";
@import "navbar.scss";
@import "sidebars.scss";
@import "tables.scss";

.appContainer {
  margin: 1em;
}

.red {
  background-color: $red;
}

.green {
  background-color: $green;
}

.blue {
  background-color: $blue;
}

.grey {
  background-color: $grey;
}

.border-grey {
  background-color: $border-grey;
}


.loading-message,
.error-message {
  width: 100%;
  height: 5em;
  margin-top: 15em;
  padding: 2em;
  border: 1px solid $border-grey;
  border-radius: 4px;
  text-align: center;
}
.loading-message {
  background-color: $grey;
}

.error-message {
  background-color: $red;
}

.select-text {
  text-align: center;
}

.number-select {
  border: none;
  width: 5em;
  text-align: center;
}
