$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "variables.scss";
@import "sidebars.scss";
@import "tables.scss";
@import "messages.scss";
@import "text.scss";

.app-container {
  margin: 1em;
}

.border-grey {
  background-color: $border-grey;
}

.chosen-container {
  width: 246px !important;
}

.col-fixed-sidebar{
  margin-left: 1em;
  width: 22em;
  position: absolute;
  z-index: 2;
}

.col-offset-data{
  padding-left: 23em;
  min-height: 0px;
  z-index: 1;
}

.content-container {
  border: 1px solid $border-grey;
  border-radius: 4px;
  min-height: 515px;
}

.data {
  padding-left: 5px;
}

.number-select {
  border: none;
  width: 5em;
  text-align: center;
}

.size-1 {
  height: calc(100vh - 100px);
}

.size-2 {
  height: calc(100vh - 142px);
}

.size-3 {
  height: calc(100vh - 115px);
}

.tenant-select {
  width: 100%;
  margin: 4px;
}

.user-tabs {
  .nav-tabs {
    border-bottom: 0;
  }
}
