<div ng-controller="dataSidebarController">
  <div class="row">
    <div class="col-md-10">
    <table>
      <thead> Select data to view: </thead>
        <tr ng-repeat="type in dataType">
          <td><checkbox ng-model="type.checked" name="test"></checkbox> {{type.name}}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- <div class="interval">
    <table>
      <thead> select interval: </thead>
      <tr ng-repeat="type in interval">
        <td>
          <input type="checkbox" ng-model="type.checked" ng-click="switch($index, interval)"> per {{type.name}} </input>
        </td>
      </tr>
    </table>
  </div> -->


  <div class="row">
    <div class="col-md-10">
    <table>
      <thead> Select chart type: </thead>
        <tr ng-repeat="type in chartType">
          <td><checkbox ng-click="switch($index, chartType)" ng-model="type.checked" name="test"></checkbox> {{type.name}}</td>
        </tr>
      </table>
    </div>
  </div>

  Select start date:
  <div class="row">
    <div class="col-md-10">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="fromDate" is-open="opened.top" min-date="minDate" max-date="maxDate"   ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event, 'top')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>
  Select end date:
  <div class="row">
    <div class="col-md-10">
      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="toDate" is-open="opened.bottom" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event, 'bottom')"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>

 <button class="btn" ng-disabled="readyToGo" ng-click="setOptions()">show me the data</button><br/>
</div>


