<div class="row">
  <div class="col-md-10 chart-date-up">
    <label>Period:</label>
    <p class="input-group">
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="fromDate" is-open="opened.top" min-date="minDate" max-date="maxDate"   ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event, 'top')"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 chart-date-down">
    <p class="input-group">
      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="toDate" is-open="opened.bottom" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event, 'bottom')"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
</div>
