<div class="user-tabs">
  <tabset>
    <tab class="col-md-offset-2 users" heading="Most users"
         ng-click="switchChart('pieChart', true)"></tab>
    <tab heading="Logins" ng-click="switchChart('loginsChart', false)"></tab>
  </tabset>
</div>
<div class="content-container">
  <loading></loading>
  <div class="row">
    <div ng-show="dataLoaded" class="col-md-8 col-md-offset-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <br/><partial type="{{chartType}}"></partial>
    </div>
    <div class="col-md-2">
      <div ng-show="topUsers && dataLoaded" class="select-box">
          <input class="number-select" type="number" min="1" max="{{totalTenants}}"
                 ng-model="tenantAmount" placeholder="tenantAmount"
                 ng-Change="setupTenantData(tenantResult)"></input>
      </div>
    </div>
  </div>
</div>
