<div ng-controller="dataSidebarController">

  <div class="row">
    <div class="col-md-10 chart-data">
    <table>
      <label> Data types: </label>
        <tr class="centered" ng-repeat="type in dataRows">
          <td><pretty-checkbox ng-model="type[0].checked" label="type[0].name"></pretty-checkbox> </td>
          <td class="right-td"><pretty-checkbox  ng-model="type[1].checked" label="type[1].name"></pretty-checkbox></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 chart-type">
    <table>
      <label> Chart type: </label><br/>
      <tr>
        <td><pretty-radio  value="'lineChart'" ng-model="chartType.value" label="chartType.lineChart"></pretty-radio></td>
        <td class="right-td"><pretty-radio value="'barChart'" ng-model="chartType.value" label="chartType.barChart"></pretty-radio></td>
      </tr>
    </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 chart-interval">
      <label>Interval:</label>
      <table>
        <tr>
          <td class="left-td"><pretty-radio  value="'day'" ng-model="interval.value" label="interval.day"></pretty-radio></td>
          <td><pretty-radio  value="'month'" ng-model="interval.value" label="interval.month"></pretty-radio></td>
          <td><pretty-radio value="'year'" ng-model="interval.value" label="interval.year"></pretty-radio></td>
        </tr>
      </table>
    </div>
  </div>

  <customdatepicker></customdatepicker>

  <div class="row">
    <div class="col-md-10 chart-tenants">
      <label>Tenant:</label><br/>
        <select chosen
          ng-model="selectedTenant"
          ng-options="tenant for tenant in tenants">
        </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 chart-button">
        <button class="btn btn-primary" ng-click="setOptions()">Show</button><br/>
        <span class="subscript" ng-hide="correctOptions"> Select atleast one type of data.<br/></span>
        <span class="subscript" ng-hide="correctDates"> Start date needs to be before end date.<br/></span>
    </div>
  </div>
</div>
