<nav ng-hide="isActive('/login')" class="navbar navbar-default" ng-controller="navbarController">
  <div class="row">
    <div class="col-md-3">
      <p id="header">LearningData</p>
    </div>
    <div class="col-md-6">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/')}"><a href="/">Overall</a></li>
        <li ng-class="{ active: isActive('/daily')}"><a href="/daily">Daily</a></li>
        <li ng-class="{ active: isActive('/users')}"><a href="/users">Users</a></li>
        <li ng-class="{ active: isActive('/spaces')}"><a href="/spaces">Spaces</a></li>
        <li ng-class="{ active: isActive('/activeUsers')}"><a href="/activeUsers">Active users</a></li>
        <li ng-class="{ active: isActive('/wordSearch')}"><a href="/wordSearch">Word Search</a></li>
      </ul>
    </div>
    <div class="col-md-2 col-md-offset-1" ng-controller="loginController">
      <ul class="nav navbar-nav logout-container">
        <li><a class="logout-btn" ng-click="logout()">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>


